/* .product-h1 {
    color: #3b4293;
    font-size: 29px;
    padding: 5px;
    font-weight: 900;
    margin-top: 0px;
  } */

/*  ================================
       Product Page Start
  ================================ */

  /* .cbb-product-detail {
    margin-top: 40px;
  } */
  .product-details {
    padding-top: 80px;
  }

  @media (max-width: 480px) {
    .product-details {
      padding-top: 40px;
    }
  }

  .prod-items {
    margin-bottom: 20px;
    border: 4px solid #e9e9e9;
  }

  /* @media (min-width: 992px) {
    .prod-items {
      height: 500px;
    }
  } */

  .prod-items img {
    min-width: 100%;
  }

  /* @media (min-width: 992px) {
    .prod-items img {
      height: 500px;
      object-fit: contain;
    }
  } */

  .prod-sm-items {
    margin-top: 50px;
  }
  .prod-sm-items img {
    cursor: pointer;
  }

  .prod-sm-items.owl-carousel .owl-item img {
    width: auto;
    padding: 10px;
    border: 1px solid rgb(233, 233, 233);
    /* height: 90px; */
    /* border:1px solid #333333; */
  }

  label.label-styling {
    color: #333;
    font-size: 15px;
    font-weight: bolder;
    padding-bottom: 10px;
  }

  #Product-info-features .form-detailed .form-group .form-control {
    border: 1px solid #df2863;
    border-radius: 0;
  }

  #Product-info-features .form-detailed .form-group {
    margin: 0px 0px 20px;
  }

  #Product-info-features .p-tb-50 {
    padding: 35px 0px 0px;
  }

  .form-detailed .form-group input:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
  }

  ul.Boxes-ul {
    padding: 0 40px;
  }

  .cbb-product-detail .owl-nav {
    display: none;
  }

  /*first  slider col-lg-4*/
  .slider_tp_20 {
    padding-top: 50px;
  }

  .slider_icons-border {
    border-right: 1px solid #ccc;
  }

  .slider_icons-border:last-child {
    border-right: 0px;
  }

  .slider_icons-border h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img.light-slider-pic {
    border: 1px solid #df2863 !important;
    /*border-right: 0.4px  solid #df2863 !important;*/
  }

  .cbb-form-style {
    border: 2px solid rgb(204 51 51);
    background-color: #e9e9e9;
    padding-top: 10px;
  }

  .cbb-form-style .form-group .form-control {
    height: 35px;
    line-height: 23px;
    padding: 5px 10px;
    font-size: 14px;
    border-color: #d8d3d0;
    border-radius: 0px;
    box-shadow: none;
    color: #ffffff;
    text-transform: lowercase;
    font-weight: 600;
    background: #cc3333;
    transition: background-color 200ms linear;
    border: 1px solid #d8d3d0;
    letter-spacing: 5;

  }
  .cbb-form-style .product-form-inputs::placeholder{
    color: #fff;
  }
  .cbb-form-style .form-group {
    font-size: 12px;
    text-transform: lowercase;
    color: #fff;
    font-weight: 700;
  }

  .cbb-form-style .product-form-inputs {
    height: 35px;
    line-height: 23px;
    box-shadow: none;
    background: transparent;
    transition: background-color 200ms linear;
    border: 2px solid #d8d3d0;
    padding: 5px 10px;
    font-size: 12px;
    border-color: #e7ebf1;
    border-radius: 0px;
  }
  .product-form-inputs.h-auto {
    height: auto;
    text-align: left;
    padding-left: 20px;
  }

  input.block-level-btn,
  a.block-level-btn {
    margin-bottom: 5px;
    height: 43px;
    padding: 2px 15px;
    width: 180px;
    font-weight: 400;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    border: 1px solid #212529;
    background-color: #212529;
    border-radius: 0px;
    /* box-shadow: rgb(183 197 205) -4px 5px 5px; */
}

.white-btn.block-level-btn
{
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: none;
}
  a.block-level-btn {
    line-height: 2;
  }

  .explaination-boxes {
    font-family: Arial, Verdana;
    font-size: 10pt;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: normal;
    text-align: justify;
  }

  /*=====================product-slider====================*/
  /* .mySlides {display:none}

    .w3-button img{
     display:inline:block;
     width:144px;
     height:150px;
    }
    .w3-button {
        border: none;
        display: inline-block;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
    }

    .w3-content, .w3-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .w3-red:hover {
        color: #fff!important;
        background-color: #f44336!important;
        background: url(https://www.w3schools.com/w3css/img_snow_wide.jpg);
        width: 144px;
        height: 150px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }*/
  ul#image-gallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 35px 0px 0px;
  }

  /* -----.demo_1 .item{
                margin-top: 60px;
            }------
    */
  .content-slider li {
    background-color: #ed3020;
    text-align: center;
    color: #fff;
  }

  .content-slider h3 {
    margin: 0;
    padding: 70px 0;
  }

  /*=========================
         Tabs
    ================================ */

  #tabs {
    background-color: transparent;
    padding: 40px 0;
    color: #333;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid TRANSPARENT;
  }

  /* =======================Styling Product
    =================== */

  .p-tb-60 {
    padding: 0px 0px 30px;
  }

  /*=====================request a quote stylying====================*/
  .form-for-Request {
    padding: 30px 10px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    margin: auto;
    max-width: 600px;
  }

  .our-Breadcrumb-Nav .breadcrumb .breadcrumb-item a {
    color: #f47822;
  }

  .request-quote-row {
    border-bottom: 6px solid #f47822;
    display: table;
    width: 100%;
    padding-top: 30px;
  }

  .request-quote-row .request-quote-title h1 {
    font: 500 38px sans-serif;
    text-align: left;
    font-family: "PT Sans", sans-serif;
  }

  .request-quote-from .label-view {
    color: #f47822;
    font-weight: 600;
  }

  .request-quote-from .form-group .form-control {
    height: 35px;
    line-height: 23px;
    padding: 5px 10px;
    font-size: 12px;
    border-color: #e7ebf1;
    -webkit-appearance: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fafafa;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  .request-quote-from .form-group textarea.form-control {
    height: auto;
  }

  /*  .our-offer's .category-headings{

        }*/

  .table-bordered th,
  .table-bordered td {
    border: 1px solid transparent !important;
  }
  .table-sm th,
  .table-sm td {
    padding: 0.8rem;
  }

  /* .pro-icons {
        margin-top: 50px;
    } */
  .form-elemnt-cus-1 {
    width: 25% !important;
  }
  .blue-color {
    color: #383838;
  }

  .pro-icons .pro-item p {
    font-size: 17px;
    line-height: 1.5;
}

.pro_item_inner{
    background: #e9e9e9;
    padding: 8px  10px;
}
  .pro-icons .pro-item img {
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .pro-icons .pro-item.request-item img {
    width: 70px;
    margin-bottom: 15px;
}
  .pro-icons .pro-item {
    text-align: center;
    margin-bottom: 5px;
  }

  .get-quote-title {
    background-color: #cc3333;
    color: rgb(255 255 255);
    font-size: 20px;
    font-weight: 600;
    padding: 16px 0px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid #cc3333;
  }
  @media (max-width: 578px) {
    .get-quote-title {
      font-size: 18px;
      padding: 10px 0;
    }
  }

  .get-quote-title-2 {
    background-color: rgb(204 51 51);
    padding: 12px 0px;
    color: rgb(255 255 255);
    font-size: 25px;
    font-weight: 600;
  }

  .qoute-innner {
    border-top: 0px solid #212529;
    text-align: left;
  }
  .qoute-innner h2 {
    font-weight: 600;
    padding-top: 0px;
    font-size: 20px;
}

  @media (max-width: 578px) {
    .qoute-innner h2 {
      font-size: 20px;
    }
  }



  .blue-color{
    color: #cc3333;
  }
  /*================ By Box Style  =================*/

  /*==============================
    Product Page  CSS End
  ===============================*/

  /*==============================
    Category page CSS Start
  ===============================*/

  .cmb_cate_inners {
    background-color: #e9e9e9;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #e7d9d9;
    position: sticky;
    top: 120px;
  }

  .leftsidebar_title {
    color: #cc3333;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-transform: capitalize;
    background: #ffffff;
    text-align: center;
  }

  @media (max-width: 578px) {
    .leftsidebar_title {
      color: #ffffff;
      font-size: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .single_sidebar_widget {
    background: #cc3333;
  }

  .post_category_widget .cat-list li {
    border-bottom: 1px solid #f9f9f9;
    transition: all 0.3s ease 0s;
    background: #e9e9e9;
  }
  .post_category_widget .cat-list li a ,  .post_category_widget .cat-list li a > p {
    font-size: 16px !important;
    line-height: 2;
    color: #cc3333;
    font-weight: 600;
    display: block;
    padding-left: 10px;
  }

  .card-view {
    text-align: center;
    border-radius: 0;
  }
  .card-view .card-title {
    color: #383838;
    font-weight: 700;
  }
  .card-view .card-body {
    background-color: transparent;
    border: 0px;
  }

  .card-view img {
    height: 250px;
    width: 100%;
    object-fit: fill;
  }

  /*==============================
  Category page CSS End
  ===============================*/

  @media (max-width: 578px) {
    .card-view .card-title {
      color: #383838;
      font-weight: 700;
      font-size: 14px;
    }
    .get-quote-title-2 {
      font-size: 18px;
    }

    input.block-level-btn,
    a.block-level-btn {
      margin-bottom: 10px;
      height: 35px;
      border-radius: 0px;
      padding: 2px 0px;
      width: 120px;
      font-weight: 600;
      font-size: 14px;
    }
  }
  .header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .logo i{
    color:var(--orange);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--orange);
}




.RelatedProductSlider-pakboxs .product-item .product-img .product-img-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    text-align: center;
    z-index: 10;
    padding: 20px;
    opacity: 0;
    -webkit-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.RelatedProductSlider-pakboxs .product-item .product-img {
    position: relative;
    overflow: hidden;
}

.RelatedProductSlider-pakboxs .product-item .product-img img {
    width: 100%;
    height: auto;
}

.RelatedProductSlider-pakboxs .product-item .product-img .product-img-content:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(51 51 51);
    opacity: 0.5;
    /* border-radius: 5px 5px 0 0; */
    z-index: -1;
    -webkit-transition: 0.25s opacity ease;
    transition: 0.25s opacity ease;
}
.RelatedProductSlider-pakboxs .product-item:hover .product-img-content {
    top: 0;
    opacity: 1;
}

.RelatedProductSlider-pakboxs .product-item .product-img .product-img-content .product-link {
    display: inline-block;
    font-size: 27px;
    color: rgba(242, 241, 241, 1);
    background: #cc3333;
    width: 50px;
    height: 50px;
    padding-top: 0px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

.RelatedProductSlider-pakboxs .product-item .product-img .product-img-content .product-link:hover {
    opacity: 1;
    color: #ffffff;
    background: #cc3333;
}

/* ------------------------------------
    02. Global CSS
---------------------------------------*/
#RelatedProductSlider-pakboxs.sec-bg {
    background-color: #ffffff !important;
    /* #fcfdf3 !important */
}

.RelatedProductSlider-pakboxs.sec-spacer {
    padding: 20px 0 100px;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.owl-carousel {
    padding-top: 0;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 35%;
    width: 100%;
}

.owl-carousel .owl-nav [class*="owl-"] {
    background: #cc3333;
    color: #fff;
    font-size: 70px !important;
    font-weight: bold;
    outline: 0;
    /* width: 60px; */
    /* height: 60px; */
    /* line-height: -23px; */
    /* border-radius: 50%; */
    display: inline-block;
    position: absolute;
    opacity: 1 !important;
    border: 1px solid #cc3333;
    visibility: visible !important;
    transition: all 0.3s ease 0s;
}

.RelatedProductSlider-pakboxs:hover .owl-carousel .owl-nav [class*="owl-"] {
    opacity: 1 !important;
    visibility: visible !important;
}

.owl-carousel .owl-nav [class*="owl-"]:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.owl-carousel .owl-nav [class*="owl-"].owl-prev {
    left: 0;
}

.owl-carousel .owl-nav [class*="owl-"].owl-prev:before {
    /* content: "\f104"; */
}

.owl-carousel .owl-nav [class*="owl-"].owl-next {
    right: 0;
}

.owl-carousel .owl-nav [class*="owl-"].owl-next:before {
    /* content: "\f105"; */
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
    background-color: #cc3333 !important;
}

