










#preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #f2f4f8;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  ul,
  ol {
    margin: 0;
  }
  
  ol li,
  ul li {
    list-style: none;
  }
  
  img {
    height: auto;
    max-width: 100%;
  }
  
  #preloader {
    overflow: hidden;
    background-color: #f2f4f8;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
  }
  
  #preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    z-index: 8;
    -webkit-animation: 2000ms linear 0s normal none infinite running medica-thumb;
    animation: 2000ms linear 0s normal none infinite running medica-thumb;
  }
  
  .medica-load {
    -webkit-animation: 2000ms linear 0s normal none infinite running medica-load;
    animation: 2000ms linear 0s normal none infinite running medica-load;
    background: transparent none repeat scroll 0 0;
    border-color: #ffffff #ffffff #2f88fd;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 60px;
    position: absolute;
    width: 60px;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
  }
  
  @-webkit-keyframes medica-load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes medica-load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes medica-thumb {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    100% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }
  
  @keyframes medica-thumb {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    100% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }
  
  .medica-table {
    display: table;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .medica-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  



.medica-department-card,
.medica-contact-card,
.medica-catagories-card,
.latest-news-widget-area {
  padding: 50px 40px;
  background-color: #38c3fb;
  width: 100%;
}

.medica-card-area .col-12 {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.medica-department-card {
  background-color: #2f88fd;
}

.medica-contact-card {
  background-color: #093f86;
}

.latest-news-widget-area,
.medica-catagories-card {
  background-color: transparent;
}

.medica-department-card h5,
.medica-contact-card h5 {
  color: #fff;
  margin-bottom: 20px;
}

.latest-news-widget-area h5,
.medica-catagories-card h5 {
  margin-bottom: 20px;
  font-weight: 600;
}

.department-menu li a {
  display: block;
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid #7badee;
}

.department-menu li a:hover,
.department-menu li a:focus {
  padding-left: 20px;
  border-bottom: 1px solid #fff;
}

.medica-contact-card .single-contact-info {
  margin-bottom: 30px;
}

.medica-contact-card .contact-meta p {
  color: #fff;
  font-size: 13px;
}

.catagories-menu li a {
  display: block;
  color: #7f7e7e;
  padding: 15px;
  border-bottom: 1px solid #e3e3e3;
}

.catagories-menu li a:hover,
.catagories-menu li a:focus {
  padding-left: 20px;
  border-bottom: 1px solid #2f88fd;
  color: #2f88fd;
}

.department-menu li:last-child a,
.catagories-menu li:last-child a {
  border-bottom: none;
}

/* :: 13.0 Breadcumb Area CSS */

.breadcumb-area {
  width: 100%;
  height: 255px;
  position: relative;
  z-index: 1;
}

.breadcumb-title {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.breadcrumb-item.active,
.breadcrumb-item a,
.breadcrumb-item {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.breadcrumb-item + .breadcrumb-item:before {
  content: "|";
  color: #fff;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
}

/* :: 14.0 CTA Area CSS */

.cta-area {
  position: relative;
  z-index: 1;
}

.cta-content h2 {
  color: #fff;
  font-size: 36px;
}

.cta-content h6 {
  color: #fff;
  margin-bottom: 0;
}

/* :: 15.0 Department Area CSS */

.single-department-area {
  margin-bottom: 100px;
}

.single-department-area > img {
  margin-bottom: 20px;
  height: 50px;
  width: auto;
}

.single-department-area > h6 {
  font-weight: 600;
  margin-bottom: 0;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.single-department-area:hover > h6,
.single-department-area:focus > h6 {
  color: #2f88fd;
}

/* :: 16.0 Services Area CSS */

.single-service {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.single-service > img {
  margin-bottom: 50px;
}

.single-service h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.single-service a {
  color: #2f88fd;
  display: block;
  font-weight: 600;
}

.single-service a:hover,
.single-service a:focus {
  color: #7f7e7e;
}

/* :: 17.0 Blog Area CSS */

.single-blog-area {
  margin-bottom: 100px;
}

.single-blog-area,
.single-blog-area .post-thumb {
  position: relative;
  z-index: 1;
}

.post-content {
  margin-top: 40px;
}

.post-content h4 {
  font-weight: 600;
}

.post-date > a {
  width: 125px;
  height: 38px;
  background-color: #2f88fd;
  display: block;
  color: #fff;
  line-height: 38px;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 3;
}

.post-content > p {
  margin-bottom: 20px;
}

.post-meta p {
  padding-right: 5px;
}

.post-meta p,
.post-meta p a {
  font-size: 12px;
}

.post-content > a,
.post-meta p a {
  color: #2f88fd;
}

.post-meta p:last-of-type a,
.post-content > a:hover,
.post-content > a:focus,
.latest-news-widget-area .widget-post-content a {
  color: #7f7e7e;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination .page-link {
  padding: 0;
  margin-left: 2px;
  line-height: 31px;
  color: #262626;
  background-color: #fff;
  border: 2px solid transparent;
  width: 35px;
  height: 35px;
  text-align: center;
}

.pagination .active .page-link,
.pagination .page-link:hover,
.pagination .page-link:focus {
  color: #2f88fd;
  background-color: #fff;
  border: 2px solid #2f88fd;
}

/* :: 18.0 Contact Area CSS */

.form-control {
  background-color: #e3e9f0;
  width: 100%;
  height: 40px;
  border-radius: 0;
  border: none;
  font-size: 12px;
  font-style: italic;
  color: #a6a6a6;
  margin-bottom: 25px;
  font-weight: 300;
  padding: 10px 20px;
}

.form-control:focus {
  background-color: inherit;
}

textarea.form-control {
  height: 240px;
}

.form-control::-webkit-input-placeholder {
  color: #a6a6a6;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.form-control::-moz-placeholder {
  color: #a6a6a6;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.form-control:-ms-input-placeholder {
  color: #a6a6a6;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.form-control::placeholder {
  color: #a6a6a6;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.googleMap {
  width: 100%;
  height: 600px;
}

/* :: 19.0 Shortcode Area CSS */

.elements-title h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 50px;
}

/* Accordians */

.panel {
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 0 transparent;
  margin-bottom: 15px;
}

.single-accordion:last-of-type {
  margin-bottom: 0px;
}

.single-accordion h6 a {
  background-color: #1d1d1d;
  border-radius: 0;
  color: #fff;
  display: block;
  margin: 0;
  padding: 10px 60px 10px 20px;
  position: relative;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}

.single-accordion h6 a.collapsed {
  background-color: #2f88fd;
  color: #fff;
}

.single-accordion h6 a span {
  font-size: 10px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 14px;
}

.single-accordion h6 a.collapsed span.accor-close {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

span.accor-open {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.single-accordion h6 a.collapsed span.accor-open {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

.single-accordion h6 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.single-accordion .accordion-content {
  border-top: 0 solid transparent;
  box-shadow: none;
}

.single-accordion .accordion-content p {
  padding: 20px 15px 5px;
  margin-bottom: 0;
}

/* barfiller */

.single_progress_bar {
  margin-bottom: 20px;
}

.single_progress_bar:last-of-type {
  margin-bottom: 0;
}

.barfiller {
  background: #e0e0e0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}

.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background-color: #2f88fd;
  z-index: 1;
}

.barfiller .tipWrap {
  display: none;
}

.barfiller .tip {
  margin-top: -16px;
  font-size: 14px;
  left: 0px;
  position: absolute;
  z-index: 2;
  background-color: #2f88fd;
  color: #fff;
  width: 60px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-weight: 500;
}

.single_progress_bar p {
  margin-bottom: 0;
  margin-top: 10px;
  color: #262626;
  font-weight: 600;
}

.single-pie-bar h6 {
  margin-bottom: 0;
}

/* Cool Facts */

.counter-area h2 {
  font-size: 36px;
}

.counter-area h6 {
  margin-bottom: 0;
  color: #838383;
}

.single-cool-fact-area h2 {
  color: #2f88fd;
  font-size: 36px;
}

.counter-area h6 {
  color: #262626;
  margin-bottom: 0;
}

.single-icon-box img {
  margin-bottom: 15px;
}
